__pycache__
*/.pyc
*.prof
*/setup.txt
*/setup.toml
*.egg-info/
*/SOURCES.txt

**/library/**
**/configs/*
**/forces/*
**/books/*
**/lookup_tables/*
**/books_compressed/*
**temp_multi_threaded_files


**/target/*
**/debug/*
**release/*
**/optimization_files/**

/env
*.env
*.DS_Store
*.toml
!optimization_program/Cargo.toml

**/site/*
node_modules/
dist/
.svelte-kit/
publish/sunset_stereo/books_base.jsonl.zst
publish/sunset_stereo/lookUpTable_base_0.csv
publish/Sunset-Stereo-Stake.zip
publish/Sunset-Stereo-frontend.zip
publish/STAKE_UPLOAD/frontend/audio/
publish/STAKE_UPLOAD/math/books_base.jsonl.zst
publish/STAKE_UPLOAD/math/lookUpTable_base_0.csv


